// banner
.banner {
    padding-top: 7rem;
    background-image: linear-gradient(135deg, rgba($purple-1, .8) 0%, rgba($primary-1, .8) 100%);

    @media(min-width:576px) {
        padding-top: 8rem;
    }

    @media(min-width:768px) {
        padding-top: 10rem;
    }

    @media(min-width:1600px) {
        padding-top: 12rem;
    }

    &__content {
        text-align: center;
        color: $white;
        font-size: 1rem;
        max-width: 1045px;
        margin: auto;

        @media(min-width:576px) {
            font-size: 1.125rem;
        }

        @media(min-width:1200px) {
            font-size: 1.25rem;
        }

        @media(min-width:1600px) {
            font-size: 1.4375rem;
        }
    }

    .heading-primary {
        color: $white;
    }

    &__figure {
        height: 0;
        padding-bottom: 50%;
        overflow: hidden;

        @media(max-width:991px) {
            max-width: 350px;
            margin: auto;
        }

        @media(max-width:767px) {
            max-width: 250px;
        }
    }
}

// logo-group
.logo-group {
    padding: 1.5rem 0;

    @media(min-width:576px) {
        padding: 2rem 0;
    }

    @media(min-width:768px) {
        padding: 3rem 0;
    }

    @media(min-width:992px) {
        padding: 3.5rem 0;
    }

    @media(min-width:1200px) {
        padding: 4rem 0;
    }

    @media(min-width:1600px) {
        padding: 5rem 0;
    }

    &__figure {
        text-align: center;

        img {
            width: 100%;
        }
    }
}

.features {
    background: $gray-1;
    padding: 1.5rem 0 .5rem;

    @media(min-width:576px) {
        padding: 2rem 0 .5rem;
    }

    @media(min-width:768px) {
        padding: 3rem 0 1rem;
    }

    @media(min-width:992px) {
        padding: 4rem 0;
    }

    @media(min-width:1200px) {
        padding: 5rem 0;
    }

    @media(min-width:1600px) {
        padding: 6rem 0;
    }

    .section-heading {
        margin-bottom: 1rem;

        @media(min-width:576px) {
            margin-bottom: 2rem;
        }

        @media(min-width:768px) {
            margin-bottom: 2.5rem;
        }

        @media(min-width:992px) {
            margin-bottom: 3rem;
        }

        @media(min-width:1600px) {
            margin-bottom: 4rem;
        }
    }

    &__inner {
        justify-content: center;
    }

    &__inner-item {
        @media(max-width:991px) {
            margin-bottom: 2rem;
        }

        @media(max-width:767px) {
            margin-bottom: 1.5rem;
        }

        @media(max-width:575px) {
            margin-bottom: 1rem;
        }
    }

    &__card {
        background: $white;
        position: relative;
        transition: .2s all ease-in-out;
        box-shadow: 0px 5px 7px 0px rgba($black, .04);
        height: 100%;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 3px;
            background: linear-gradient(to bottom, $secondary-2 0%, $primary-3 100%);
        }

        &:hover {
            transform: translateY(-3px);
        }
    }

    .card {
        &-body {
            padding: 1rem .75rem;
            display: flex;
            align-items: flex-start;

            @media(min-width:1600px) {
                padding: 1.5rem;
            }
        }

        &-icon {
            font-size: 2.5rem;
            line-height: 1;

            @media(min-width:992px) {
                font-size: 3rem;
            }
        }

        &-content {
            padding-left: .75rem;
            font-size: 1rem;
            line-height: 1.5;

            @media(min-width:1200px) {
                font-size: $font-size-base;
            }

            @media(min-width:1600px) {
                padding-left: 1rem;
                line-height: $line-height-base;
            }

            h5 {
                color: $secondary;
                font-size: 1.25rem;
            }

            p {
                margin-bottom: 0;
            }
        }
    }
}

// tab-section
.section-tab {
    padding: 1.5rem 0 1rem;

    @media(min-width:576px) {
        padding: 2rem 0 1.5rem;
    }

    @media(min-width:768px) {
        padding: 3rem 0 1.5rem;
    }

    @media(min-width:992px) {
        padding: 4rem 0;
    }

    @media(min-width:1200px) {
        padding: 5rem 0;
    }

    @media(min-width:1600px) {
        padding: 6rem 0;
    }

    .section-heading {
        margin-bottom: 1rem;

        @media(min-width:576px) {
            margin-bottom: 2rem;
        }

        @media(min-width:768px) {
            margin-bottom: 2.5rem;
        }

        @media(min-width:992px) {
            margin-bottom: 3rem;
        }

        @media(min-width:1600px) {
            margin-bottom: 4rem;
        }
    }
}

// counter-section
.counter-section {
    background: $gray-1;
    padding: 1.5rem 0;

    @media(min-width:576px) {
        padding: 2rem 0;
    }

    @media(min-width:768px) {
        padding: 3rem 0;
    }

    @media(min-width:992px) {
        padding: 4rem 0;
    }

    @media(min-width:1200px) {
        padding: 5rem 0;
    }

    @media(min-width:1600px) {
        padding: 5.75rem 0;
    }

    &__inner {
        display: flex;
        align-items: center;

        @media(min-width:768px) {
            margin: 0 -15px;
        }

        @media(max-width:767px) {
            flex-direction: column-reverse;
        }
    }

    &__item,
    &__figure {
        @media(min-width:768px) {
            padding: 0 15px;
        }
    }

    &__item {
        counter-reset: my-counter 0;

        @media(min-width:768px) {
            flex: 0 0 71%;
            max-width: 71%;
        }
    }

    &__content {
        position: relative;
        padding-left: 3.5rem;
        font-size: 1rem;

        @media(min-width:576px) {
            padding-left: 4.5rem;
        }

        @media(min-width:992px) {
            font-size: $font-size-base;
            margin-right: 1rem;
            padding-left: 6rem;
        }

        @media(min-width:1200px) {
            padding-left: 7.75rem;
            margin-right: 3.125rem;
            padding-left: 7.875rem;
        }

        &:before {
            content: counter(my-counter) "";
            counter-increment: my-counter 1;
            position: absolute;
            top: 0;
            left: 0;
            height: 45px;
            width: 45px;
            border-radius: 50%;
            font-size: 1.25rem;
            box-shadow: 0 5px 25px rgba($primary, .2);
            color: $primary;
            line-height: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: .2s all ease-in-out;

            @media(min-width:576px) {
                height: 60px;
                width: 60px;
                font-size: 1.5rem;
            }

            @media(min-width:992px) {
                top: 10px;
                height: 80px;
                width: 80px;
                font-size: 2rem;
            }

            @media(min-width:1200px) {
                top: 0;
                height: 100px;
                width: 100px;
                font-size: 3rem;
            }
        }

        &:hover {
            &:before {
                background: #f5378e;
                color: #fff;
            }
        }

        &:not(:last-child) {
            margin-bottom: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid rgba($gray, .2);

            @media(min-width:576px) {
                margin-bottom: 1.5rem;
                padding-bottom: 1.5rem;
            }

            @media(min-width:1200px) {
                margin-bottom: 2rem;
                padding-bottom: 2rem;
            }
        }

        p {
            margin-bottom: 0;
        }
    }

    &__title {
        color: $secondary;
        font-size: 1.25rem;

        @media(min-width:992px) {
            font-size: 1.5rem;
        }

        @media(min-width:1200px) {
            font-size: 1.75rem;
        }
    }

    &__figure {
        @media(min-width:768px) {
            flex: 0 0 29%;
            max-width: 29%;
        }

        @media(max-width:767px) {
            max-width: 150px;
            margin: 0 auto 2rem;
        }

        @media(max-width:575px) {
            max-width: 120px;
            margin: 0 auto 1.5rem;
        }

        img {
            height: auto;
            width: 100%;
            border-radius: 1.25rem;

            @media(min-width:576px) {
                border-radius: 2rem;
            }

            @media(min-width:1200px) {
                border-radius: 3rem;
            }
        }
    }

}

// testimonials
.testimonials {
    padding: 1.5rem 0;

    @media(min-width:576px) {
        padding: 2rem 0;
    }

    @media(min-width:768px) {
        padding: 3rem 0;
    }

    @media(min-width:992px) {
        padding: 4rem 0;
    }

    @media(min-width:1200px) {
        padding: 5rem 0;
    }

    @media(min-width:1600px) {
        padding: 6rem 0;
    }

    .section-heading {
        margin-bottom: 1rem;

        @media(min-width:576px) {
            margin-bottom: 2rem;
        }

        @media(min-width:768px) {
            margin-bottom: 2.5rem;
        }

        @media(min-width:992px) {
            margin-bottom: 3rem;
        }

        @media(min-width:1600px) {
            margin-bottom: 4rem;
        }
    }

    .testi-slide {

        &__item {
            text-align: center;

            @media(min-width:768px) {
                margin: 0 2rem;
            }

            @media(min-width:992px) {
                max-width: 900px;
                margin: auto;
            }
        }

        &__figure {
            display: inline-block;

            @media(max-width:575px) {
                margin-bottom: .5rem;
            }

            img {
                border-radius: 50%;
            }
        }

        &__content {
            font-size: $font-size-base;
            font-weight: $font-weight-thin;

            @media(min-width:992px) {
                font-size: 1.25rem;
            }

            p {
                @media(max-width:575px) {
                    margin-bottom: .5rem;
                }
            }
        }

        .client-name,
        .client-address {
            display: block;
        }

        .client-name {
            color: $secondary;
            font-size: 1.25rem;

            @media(min-width:768px) {
                font-size: 1.5rem;
            }

            @media(min-width:1200px) {
                font-size: 1.75rem;
            }
        }

        .client-address {
            color: $primary-3;
            font-size: 1rem;
        }
    }

    .slick {
        &-arrow {
            transition: .2s all ease-in-out;

            @media(min-width:768px) {
                top: 50%;
                transform: translateY(-50%);
            }

            @media(max-width:767px) {
                bottom: 0;
            }

            &:hover,
            &.slick-disabled {
                color: $gray;
            }
        }

        &-prev {
            left: 0;
        }

        &-next {
            right: 0;
        }
    }
}

// gallery
.gallery {
    padding: 1.5rem 0;

    @media(min-width:576px) {
        padding: 2rem 0;
    }

    @media(min-width:768px) {
        padding: 3rem 0;
    }

    @media(min-width:992px) {
        padding: 4rem 0;
    }

    @media(min-width:1200px) {
        padding: 5rem 0;
    }

    @media(min-width:1600px) {
        padding: 6rem 0;
    }

    .section-heading {
        margin-bottom: .5rem;

        @media(min-width:576px) {
            margin-bottom: 1rem;
        }

        @media(min-width:992px) {
            margin-bottom: 2rem;
        }

        @media(min-width:1600px) {
            margin-bottom: 3rem;
        }
    }

    &-slide {

        @media(max-width:575px) {
            max-width: 220px;
            margin: auto;
        }

        .slick-slide {
            transform: scale(.75);
            transition: .3s all ease-in-out;
        }

        .slick-list {
            padding: 1rem 0 !important;

            @media(min-width:1200px) {
                padding: 1.25rem 0 !important;
            }
        }

        .slick-center {
            opacity: 1;
            transform: scale(1);
        }

        &__item {
            box-shadow: 0px 9px 32px 0px rgba($black, .05);
        }

        .figure {
            margin-bottom: 0;

            @media(max-width:575px) {
                max-width: 220px;
                margin: 0 auto;
            }
        }
    }

    .slick-dots {
        padding-top: .5rem;

        @media(min-width:576px) {
            padding-top: 1rem;
        }

        @media(min-width:1200px) {
            padding-top: 1.5rem;
        }
    }
}

// pricing
.pricing {
    padding: 1.5rem 0 .5rem;

    @media(min-width:576px) {
        padding: 2rem 0 .5rem;
    }

    @media(min-width:768px) {
        padding: 3rem 0 1rem;
    }

    @media(min-width:992px) {
        padding: 4rem 0;
    }

    @media(min-width:1200px) {
        padding: 5rem 0;
    }

    @media(min-width:1600px) {
        padding: 6rem 0;
    }

    .section-heading {
        margin-bottom: 1.5rem;

        @media(min-width:576px) {
            margin-bottom: 2rem;
        }

        @media(min-width:768px) {
            margin-bottom: 2.5rem;
        }

        @media(min-width:992px) {
            margin-bottom: 3rem;
        }

        @media(min-width:1600px) {
            margin-bottom: 4rem;
        }
    }

    .inner {
        justify-content: center;

        &__item {
            @media(max-width:991px) {
                margin-bottom: 2rem;
            }

            @media(max-width:767px) {
                max-width: 400px;
                margin: 0 auto 1.5rem;
            }

            @media(max-width:575px) {
                margin: 0 auto 1rem;
            }
        }
    }

    .card-pricing {
        text-align: center;
        border: 1px solid rgba($gray, .2);
        transition: .3s all ease-in-out;
        border-radius: 5px;
        height: 100%;

        @media(max-width:991px) {
            box-shadow: 0px 12px 59px 0px rgba($purple-2, .11);
            transform: translateY(-3px);
            border-color: transparent;
            border-top: 2px solid $primary;
        }

        &:hover,
        &--alt {
            @media(min-width:992px) {
                box-shadow: 0px 12px 59px 0px rgba($purple-2, .11);
                transform: translateY(-3px);
                border-color: transparent;
                border-top: 2px solid $primary;
            }
        }

        &__header {
            padding: 1.5rem 0 0;

            @media(min-width:1200px) {
                padding: 2.5rem 0 1rem;
            }

            small {
                color: $primary-4;
                font-size: 0.875rem;
                text-transform: uppercase;
            }

            h2 {
                font-size: 2rem;
                font-weight: $font-weight-normal;
                color: $secondary;

                @media(min-width:1200px) {
                    font-size: 2.8125rem;
                }

                span {
                    font-size: 1.25rem;

                    @media(min-width:1200px) {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                color: $gray-4;
                font-size: 1rem;
                padding: .5rem;

                @media(min-width:1200px) {
                    padding: 1rem;
                }
            }

            del {
                color: rgba($gray-4, .5);
            }
        }

        &__footer {
            padding: 1rem 1rem 1.5rem;

            @media(min-width:1200px) {
                padding: 2rem;
            }

            .btn {
                letter-spacing: 1px;
                width: 100%;

                @media(min-width:1200px) {
                    // min-width: 292px;
                    font-size: 1rem;
                    font-weight: $font-weight-medium;
                }
            }
        }
    }
}

//  faq
.faq {
    padding: 1.5rem 0 1rem;

    @media(min-width:576px) {
        padding: 2.5rem 0 2rem;
    }

    @media(min-width:768px) {
        padding: 3rem 0 2.5rem;
    }

    @media(min-width:992px) {
        padding: 3.5rem 0 2.5rem;
    }

    @media(min-width:1200px) {
        padding: 4rem 0 2rem;
    }

    .section-heading {
        margin-bottom: 1rem;

        @media(min-width:576px) {
            margin-bottom: 2rem;
        }

        @media(min-width:768px) {
            margin-bottom: 2.5rem;
        }

        @media(min-width:992px) {
            margin-bottom: 3rem;
        }

        @media(min-width:1600px) {
            margin-bottom: 4rem;
        }
    }

    .inner {

        @media(min-width:992px) {
            margin: 0 -15px;
            display: flex;
            flex-wrap: wrap;
        }

        &__item {
            margin-bottom: 1rem;

            @media(min-width:992px) {
                flex: 0 0 50%;
                max-width: 50%;
                padding: 0 15px;
                margin-bottom: 1.5rem;
            }

            @media(min-width:1200px) {
                margin-bottom: 2rem;
            }

            @media(min-width:1600px) {
                margin-bottom: 2.5rem;
            }
        }

        &__content {
            font-size: 1rem;

            h4 {
                font-size: 1.125rem;
                color: $secondary;

                @media(min-width:768px) {
                    font-size: 1.25rem;
                }

                @media(min-width:992px) {
                    margin-bottom: 1rem;
                }

                @media(min-width:1600px) {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}

// section-outro
.section-outro {
    background-image: linear-gradient(135deg, rgba($purple-1, .8) 0%, rgba($primary-1, .8) 100%);
    padding: 1.5rem 0;

    @media(min-width:576px) {
        padding: 2rem 0;
    }

    @media(min-width:768px) {
        padding: 3rem 0;
    }

    @media(min-width:992px) {
        padding: 4rem 0;
    }

    @media(min-width:1200px) {
        padding: 5rem 0;
    }

    @media(min-width:1600px) {
        padding: 6rem 0;
    }

    .inner {
        text-align: center;

        &__icon {
            display: inline-block;
            padding: 0 .625rem;
            margin-bottom: 1rem;
            background: $white;
            border-radius: 3px;
            font-size: 2.5rem;
            line-height: 1;

            @media(min-width:576px) {
                margin-bottom: 1.5rem;
            }

            @media(min-width:992px) {
                margin-bottom: 2rem;
                padding: 0 1rem;
                font-size: 3rem;
            }

            @media(min-width:1200px) {
                margin-bottom: 2.5rem;
            }

            @media(min-width:1600px) {
                margin-bottom: 3rem;
            }
        }

        &__content {
            color: $primary-5;
            margin: auto;
            max-width: 700px;

            h3 {
                color: $white;
                font-size: 1.5rem;
                font-weight: $font-weight-thin;

                @media(min-width:576px) {
                    font-size: 2rem;
                }

                @media(min-width:768px) {
                    margin-bottom: 1rem;
                }

                @media(min-width:992px) {
                    font-size: 2.1875rem;
                }

                @media(min-width:1200px) {
                    font-size: 2.8125rem;
                }

                @media(min-width:1600px) {
                    margin-bottom: 1.5rem;
                }
            }

            p {
                margin-bottom: 0;
            }
        }

        &__foot {
            @media(max-width:399px) {
                padding-top: 1rem;
            }

            a {
                display: inline-block;
                margin: 1rem .5rem;

                @media(min-width:992px) {
                    margin: 1.5rem .5rem;
                }

                @media(min-width:1600px) {
                    margin: 2rem .5rem;
                }

                @media(max-width:399px) {
                    display: block;
                    margin: 0 auto 1rem;
                    max-width: 70%;
                }
            }

            em {
                color: $primary-4;
                display: block;
            }
        }
    }
}