.site-footer {

    .contact {
        padding: 2rem 0;

        @media(min-width:768px) {
            padding: 3rem 0;
        }

        @media(min-width:1200px) {
            padding: 4rem 0;
        }

        &__inner {
            @media(min-width:768px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            @media(max-width:767px) {
                max-width: 380px;
                margin: auto;
            }
        }

        &__location,
        &__link {
            font-size: 1rem;
            padding-left: 1.5rem;
            line-height: 1;
            position: relative;

            &:before {
                position: absolute;
                top: 0;
                left: 0;
                font-family: fontawesome;
            }
        }

        &__location {
            margin-bottom: .5rem;
            display: block;

            &:before {
                content: '\f041';
            }
        }

        &__link {
            color: $body-color;
            display: inline-block;

            &:hover,
            &:focus {
                color: $primary;
            }
        }

        .mail {
            margin-right: 1rem;

            &:before {
                content: '\f0e0';
            }
        }

        .number {
            &:before {
                content: '\f025';
            }
        }

        .icon-list {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;

            @media(max-width:767px) {
                justify-content: center;
                padding-top: 2rem;
            }

            @media(max-width:575px) {
                padding-top: 1.5rem;
            }

            &__item {
                padding: 0 .5rem;

                @media(min-width:768px) {
                    padding-left: .625rem;
                }

                @media(min-width:1200px) {
                    padding-left: 1rem;
                }
            }

            .social-link {
                padding: .5rem 1rem;
                background: $white;
                color: $primary-3;
                border-radius: 3px;

                &:hover,
                &:focus {
                    background: $primary-3;
                    color: $white;
                }
            }
        }
    }

    .copyright {
        font-size: 0.875rem;
        padding: 1.5rem 0;
        text-align: center;

        @media(min-width:768px) {
            padding: 2rem;
        }

        @media(min-width:992px) {
            padding: 2.5rem;
        }

        @media(min-width:1200px) {
            padding: 3rem;
        }

        p {
            margin-bottom: .5rem;

            @media(min-width:992px) {
                margin-bottom: 1rem;
            }
        }

        a {
            color: $primary;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }

        ul {
            display: flex;
            justify-content: center;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                padding: 0 .5rem;

                @media(min-width:768px) {
                    padding: 0 1rem;
                }
            }
        }
    }

    // scroll-top
    .scroll-top {
        padding: 5px 10px;
        position: fixed;
        bottom: 20px;
        right: 40px;
        display: none;
        border: none;
        border-radius: 10px;
        background: $primary;
        z-index: 99;
        cursor: pointer;
        transition: .2s all ease-in-out;

        &:hover{
            outline: none;
            background: $gray;
        }

        i {
            display: inline-block;
            color: $white;
        }
    }
}