// color
$primary:   #f5378e;
$primary-1: #FA0176;
$primary-3: #fc73b4;
$primary-4: #e38cb7;
$primary-5: #ffb8f6;


$secondary: #633991;
$secondary-2:#9477b4;

$gray:      #9194a1;
$gray-1:    #f9f9f9;
$gray-3:    #998a9b;
$gray-4:    #959094;
$gray-5:    #faf6fb;

$dark-blue:  #252b46;
$dark-blue-1: #252b46;

$purple-1: #3C0876;
$purple-2: #24071F;

$black: #000000;
$white: #ffffff;


// bodycolor
$body-color: $gray-4;

// font-family
$font-rubik: 'Rubik', sans-serif;


// font weight
$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold:   700;



$line-height-base: 1.7;

$font-size-base: 1.125rem;